set_self_consumption_mode:
  name: Set Self-Consumption Mode
  description: Sets device to Mode 1 (Self-consumed prioritized).
set_schedule_mode:
  name: Set Schedule Mode
  description: Sets device to Mode 2 (Charge/discharge Schedule).
set_realtime_mode:
  name: Set Real-Time Mode
  description: Sets device to Mode 4 (Real-time control).
charge:
  name: Charge Battery
  fields:
    power: {name: Power, required: true, selector: {number: {min: 0, max: 2000}}}
discharge:
  name: Discharge Battery
  fields:
    power: {name: Power, required: true, selector: {number: {min: 0, max: 2000}}}
stop:
  name: Stop Battery
  description: Put battery in standby.
